node_modules/
public/js
public/site.css

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

.lsp/
.portal/
.calva
.clj-kondo
!.clj-kondo/config.edn